@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;

500;600;700&display=swap");
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.slider-arrow_next::after,
.search-form__before::before,
.spoller-block__title::after,
.select__option::before,
.select__value:before,
[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-fon-reg:before {
  content: "\e905";
  color: #007dfb;
}

._icon-arrow-R:before {
  content: "\e900";
  color: #707070;
}

._icon-check:before {
  content: "\e901";
  color: #707070;
}

._icon-lOGO:before {
  content: "\e902";
}

._icon-Search:before {
  content: "\e903";
  color: #707070;
}

._icon-svg-gobbler:before {
  content: "\e904";
  color: #707070;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Poppins";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

._container {
  max-width: 1160px;
  margin: 0 auto;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-left: 49px;
  padding-right: 69px;
  padding-top: 45px;
  padding-bottom: 45px;
  color: #ffffff;
  font-weight: 400;
  font-size: 30px;
  border-radius: 62px;
  background-color: #007dfb;
}

.button::before {
  color: #ffffff;
  margin: 0px 0px 0px 15px;
  font-size: 25px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #ffffff;
  color: #000000;
  -webkit-box-shadow: 0px 0px 10px #0000001a;
          box-shadow: 0px 0px 10px #0000001a;
  border-radius: 28px;
  font-size: 21px;
}

.butt {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 45px;
  padding-bottom: 45px;
  color: #ffffff;
  font-weight: 400;
  font-size: 30px;
  border-radius: 62px;
  background-color: #007dfb;
}

.select {
  position: relative;
}

.select ::-webkit-scrollbar {
  width: 0px;
}

.select__item {
  position: relative;
}

.select__title {
  cursor: pointer;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0px;
  padding: 0px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  color: #707070;
  font-size: 20px;
  height: 1em;
}

.select__value:before {
  content: "\e900";
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #707070;
  font-size: 18px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: white;
  position: absolute;
  top: 20px;
  min-width: 176px;
  max-height: 340px;
  left: -25px;
  border: 1px solid #ffffff73;
  border-radius: 42px;
  background-color: rgba(177, 175, 175, 0.9);
  overflow: auto;
  padding: 14px 18px 5px 18px;
  font-size: 20px;
}

.select__option {
  cursor: pointer;
  margin: 0px 0px 5px 0px;
}

.select__option::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-transform: translate(0px, 100%);
      -ms-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  content: "\e901";
  color: #ffffff;
  font-size: 16px;
  opacity: 0;
}

.select__option.active::before {
  color: #ffffff;
  opacity: 1;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.select._active .select__options {
  display: block;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.header {
  padding-top: 80px;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  max-width: 1920px;
  margin: 0 auto;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  width: 100%;
  padding: 0px 15px;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 14;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  color: #000000;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100px;
  top: -100%;
  right: 0;
  background-color: rgba(248, 248, 248, 0.1);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  -webkit-transition: left 0.5s ease 0s;
  -o-transition: left 0.5s ease 0s;
  transition: left 0.5s ease 0s;
  z-index: 11;
}

.menu._active::before {
  top: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link::before {
  -webkit-transform: rotate(-270deg);
      -ms-transform: rotate(-270deg);
          transform: rotate(-270deg);
  margin: 0px 0px 0px 10px;
}

.menu__link._active {
  color: #5271f3;
}

.menu__link._active::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #5271f3;
}

.spoller-block {
  position: absolute;
  top: 50px;
  left: 150px;
}

.spoller-block__title {
  color: #000000;
  font-size: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.spoller-block__title:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.spoller-block__title::after {
  content: "";
  content: "\e904";
  font-size: 13px;
  margin: 0px 0px 0px 11px;
  opacity: 0;
}

.spoller-block__text {
  color: #000000;
  font-size: 18px;
}

.actions-header {
  z-index: 18;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.search-form._active .search-form__item {
  top: 150px;
  opacity: 1;
  visibility: visible;
}

.search-form._active .search-form__icon::before {
  color: #000000;
}

.search-form__icon::before {
  font-size: 20px;
  color: #707070;
}

.search-form__item {
  opacity: 0;
  visibility: hidden;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: absolute;
  top: -100%;
  right: 23px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 340px;
}

.search-form__before::before {
  position: absolute;
  top: 20px;
  right: 22px;
  color: #707070;
  content: "\e903";
  font-size: 15px;
}

.search-form__before._active::before {
  color: #007dfb;
}

.search-form__input {
  padding: 15px 50px 15px 38px;
  border-radius: 28px;
  width: 100%;
  height: 55px;
  color: #707070;
  -webkit-box-shadow: 0px 0px 10px #007dfb;
          box-shadow: 0px 0px 10px #007dfb;
  border-radius: 28px solid #007dfb;
}

.search-form__input._active {
  border-radius: 28px;
  outline-color: #007dfb;
  -webkit-box-shadow: 0px 0px 4px #007dfb;
          box-shadow: 0px 0px 4px #007dfb;
}

.icon-menu {
  display: none;
}

.no-webp .fullscrin-registration{
  background: url("../img/image/fon-login.png") right/cover no-repeat; }

.fullscrin-registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
}

.fullscrin-registration__comp {
  position: absolute;
  top: 0;
  right: 0;
  width: 730px;
  background: url("../img/image/component.svg") left/cover no-repeat;
  height: 100%;
}

.fullscrin-registration__body {
  width: 100%;
  max-width: 1160px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 80px;
  padding-bottom: 230px;
}

.fullscrin-registration__welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullscrin-registration__logo {
  font-weight: 600;
  font-size: 35px;
  color: #000000;
  margin-bottom: 77px;
}

.fullscrin-registration__title {
  font-weight: 500;
  font-size: 25px;
  color: #000000;
  margin-bottom: 42px;
}

.form-login__forma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-transform: translate(0px, 50%);
      -ms-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.form-login__forma:not(:last-child) {
  margin-bottom: 65px;
}

.form-login__forma._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.form-login__item {
  max-width: 50%;
}

.form-login__button {
  -webkit-transform: translate(0px, 70%);
      -ms-transform: translate(0px, 70%);
          transform: translate(0px, 70%);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.form-login__button._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.inp {
  border-radius: 52px;
  background-color: #f3f4f6;
  padding: 23px 50px;
  width: 100%;
  color: #707070;
  min-height: 84px;
  font-size: 25px;
}

.inp .select__options {
  width: 100%;
  left: 0;
  top: 75px;
}

.inp .select__title {
  color: #707070;
}

.inp .select__value {
  padding: 19px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #707070;
}

.inp .select__value span {
  color: #707070;
  font-size: 25px;
}

.inp._active {
  border-radius: 28px;
  outline-color: #007dfb;
  -webkit-box-shadow: 0px 0px 4px #007dfb;
          box-shadow: 0px 0px 4px #007dfb;
}

input::-webkit-input-placeholder {
  color: #707070;
}

input::-moz-placeholder {
  color: #707070;
}

input:-ms-input-placeholder {
  color: #707070;
}

input::-ms-input-placeholder {
  color: #707070;
}

input::placeholder {
  color: #707070;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.no-webp .fullscrin{
  background: url("../img/image/fon.png") center/cover no-repeat; }

.fullscrin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscrin__body {
  width: 100%;
  max-width: 714px;
  margin: 0px auto;
  padding-top: 278px;
  padding-bottom: 67px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
}

.fullscrin__title {
  font-size: 96px;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  -webkit-transform: translate(0px, 80%);
      -ms-transform: translate(0px, 80%);
          transform: translate(0px, 80%);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.fullscrin__title:not(:last-child) {
  margin: 0px 0px 37px 0px;
}

.fullscrin__title._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.fullscrin__text {
  font-size: 22px;
  letter-spacing: 0px;
  font-weight: 400;
  text-align: center;
  color: #007dfb;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0.2s;
  -o-transition: all 0.7s ease 0.2s;
  transition: all 0.7s ease 0.2s;
}

.fullscrin__text:not(:last-child) {
  margin-bottom: 270px;
}

.fullscrin__text._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.fullscrin__button {
  -webkit-transform: translate(0px, 80%);
      -ms-transform: translate(0px, 80%);
          transform: translate(0px, 80%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.fullscrin__button._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.product-page__container {
  padding-top: 144px;
  padding-bottom: 144px;
}

.product-page__title {
  text-align: center;
  font-weight: 600;
  color: #007dfb;
  text-transform: uppercase;
  font-size: 35px;
  -webkit-transform: translate(0px, 80%);
      -ms-transform: translate(0px, 80%);
          transform: translate(0px, 80%);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.product-page__title:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.product-page__title._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.product-page__slider {
  -webkit-transform: translate(0px, 10%);
      -ms-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.product-page__slider._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.product-page__image {
  max-width: 746px;
  padding: 0px 0px 52% 0px;
  margin: 0 auto;
}

.controls-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 24px 0px 0px 0px;
  position: relative;
}

.controls-product__dotts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.controls-product .swiper-pagination-bullet {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28px;
          flex: 0 0 28px;
  height: 28px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls-product .swiper-pagination-bullet:last-child {
  margin-right: 0px;
}

.controls-product .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #007dfb;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.controls-product .swiper-pagination-bullet-active::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.slider-arrow {
  position: absolute;
  top: 15%;
}

.slider-arrow_prev {
  left: 410px;
}

.slider-arrow_prev::before {
  font-size: 18px;
  color: #707070;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.slider-arrow_next {
  right: 410px;
}

.slider-arrow_next::before {
  font-size: 18px;
  color: #707070;
}

.slider-arrow_next::after {
  position: absolute;
  left: 280px;
  bottom: 325px;
  color: #007dfb;
  font-weight: 600;
  content: "\e904";
  display: none;
}

.salary-page {
  background-color: #f3f4f6;
}

.no-webp .salary-page__fullscrin{
  background: url("../img/image/fon2.png") center/cover no-repeat; }

.salary-page__fullscrin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscrin-salary__body {
  width: 100%;
  max-width: 1160px;
  padding: 0px 15px;
  margin: 0px auto;
  padding-top: 161px;
  padding-bottom: 100px;
}

.fullscrin-salary__content {
  margin-bottom: 60px;
  -webkit-transform: translate(0px, 70%);
      -ms-transform: translate(0px, 70%);
          transform: translate(0px, 70%);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.fullscrin-salary__content._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.fullscrin-salary__title {
  color: #007dfb;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 156%;
  font-size: 35px;
  max-width: 340px;
  margin: 0 auto;
}

.fullscrin-salary__title:not(:last-child) {
  margin-bottom: 30px;
}

.fullscrin-salary__sub-title {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
}

.fullscrin-salary__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23px;
  max-width: 1005px;
  margin: 0 auto;
}

.fullscrin-salary__items :nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.fullscrin-salary__items :nth-child(2) .row__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41%;
          flex: 1 1 41%;
}

.fullscrin-salary__items :nth-child(2) .row__image img {
  border-radius: 0px 90px;
}

.fullscrin-salary__row {
  -webkit-transform: translate(0px, 15%);
      -ms-transform: translate(0px, 15%);
          transform: translate(0px, 15%);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.fullscrin-salary__row._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.row__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 43%;
          flex: 0 1 43%;
}

.row__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47.4%;
          flex: 0 1 47.4%;
  padding: 0px 0px 47% 0px;
}

.row__image img {
  border-radius: 90px 0px;
}

.content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 53px;
  padding-bottom: 80px;
}

.content-row__title {
  font-weight: 500;
  font-size: 30px;
  color: #000000;
}

.content-row__title:not(:last-child) {
  margin-bottom: 21px;
}

.content-row__text {
  color: #707070;
  font-size: 22px;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content-row__link {
  color: #007dfb;
  font-size: 18px;
  padding: 10px 22px 10px 20px;
  margin: -10px -22px -10px -20px;
  max-width: 185px;
}

.content-row__link::before {
  display: none;
  font-size: 14px;
  color: #fafafa;
}

.mission-page__container {
  padding-top: 116px;
  padding-bottom: 116px;
}

.mission-page__title {
  color: #007dfb;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  -webkit-transform: translate(0px, 70%);
      -ms-transform: translate(0px, 70%);
          transform: translate(0px, 70%);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.mission-page__title:not(:last-child) {
  margin-bottom: 94px;
}

.mission-page__title._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.mission-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.mission-page__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 47%;
          flex: 1 1 47%;
  min-width: 450px;
}

.item-mission:nth-child(1) .content-mission__text {
  max-width: 220px;
}

.item-mission:nth-child(1) .content-mission__link::before {
  color: #007dfb;
}

.item-mission:nth-child(1).active .content-mission__link span {
  display: none;
}

.item-mission:nth-child(1).active .content-mission__link::before {
  display: block;
  z-index: 2;
}

.item-mission:nth-child(1).active .content-mission__link:hover {
  text-decoration: none;
}

.item-mission:nth-child(1).active .content-mission__text {
  z-index: 2;
  opacity: 1;
  visibility: visible;
}

.item-mission:nth-child(4) .content-mission__link::before {
  color: #007dfb;
}

.item-mission:nth-child(4).active .content-mission__link span {
  display: none;
}

.item-mission:nth-child(4).active .content-mission__link::before {
  display: block;
  z-index: 2;
}

.item-mission:nth-child(4).active .content-mission__link:hover {
  text-decoration: none;
}

.item-mission:nth-child(4).active .content-mission__text {
  z-index: 2;
  opacity: 1;
  visibility: visible;
}

.item-mission:nth-child(2) .content-mission__text {
  max-width: 100%;
}

.item-mission:nth-child(2) .content-mission__link::before {
  color: #fafafa;
}

.item-mission:nth-child(2)::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 17px;
  z-index: 1;
  background-color: rgba(0, 125, 251, 0.79);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-mission:nth-child(2).active .content-mission__link span {
  display: none;
}

.item-mission:nth-child(2).active .content-mission__link::before {
  display: block;
  z-index: 2;
}

.item-mission:nth-child(2).active .content-mission__link:hover {
  text-decoration: none;
}

.item-mission:nth-child(2).active .content-mission__text {
  color: #fafafa;
  z-index: 2;
  opacity: 1;
  visibility: visible;
}

.item-mission:nth-child(2).active .content-mission__title {
  color: #fafafa;
  z-index: 2;
}

.item-mission:nth-child(2).active::before {
  opacity: 1;
  visibility: visible;
}

.item-mission:nth-child(3) .content-mission__text {
  max-width: 100%;
}

.item-mission:nth-child(3) .content-mission__link::before {
  color: #fafafa;
}

.item-mission:nth-child(3)::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 17px;
  z-index: 1;
  background-color: rgba(0, 125, 251, 0.79);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-mission:nth-child(3).active .content-mission__link span {
  display: none;
}

.item-mission:nth-child(3).active .content-mission__link::before {
  display: block;
  z-index: 2;
}

.item-mission:nth-child(3).active .content-mission__link:hover {
  text-decoration: none;
}

.item-mission:nth-child(3).active .content-mission__text {
  color: #fafafa;
  z-index: 2;
  opacity: 1;
  visibility: visible;
}

.item-mission:nth-child(3).active .content-mission__title {
  color: #fafafa;
  z-index: 2;
}

.item-mission:nth-child(3).active::before {
  opacity: 1;
  visibility: visible;
}

.item-mission {
  -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.item-mission._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.content-mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.content-mission__title {
  max-width: 400px;
  font-weight: 500;
  font-size: 30px;
}

.content-mission__title:not(:last-child) {
  margin-bottom: 20px;
}

.content-mission__text {
  opacity: 0;
  visibility: hidden;
  color: #707070;
  font-weight: 400;
  font-size: 22px;
  max-width: 264px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content-mission__link {
  cursor: pointer;
  color: #707070;
  font-weight: 500;
  z-index: 50;
  font-size: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.content-mission__link::before {
  display: none;
  -webkit-transform: rotate(180deg) translate(25px, 0px);
      -ms-transform: rotate(180deg) translate(25px, 0px);
          transform: rotate(180deg) translate(25px, 0px);
}

@media (min-width: 479.98px) {
  .item-mission:nth-child(3) {
    background-color: #f3f4f6;
  }

  .item-mission {
    border: 1px solid #e1e1e1;
    border-radius: 17px;
    position: relative;
  }

  .item-mission__image {
    padding: 0px 0px 89% 0px;
  }

  .item-mission__content {
    position: absolute;
    top: 0px;
    padding: 50px 0px 80px 0px;
    left: 48px;
  }

  .content-mission__title {
    height: 78px;
  }
}

@media (min-width: 767.98px) {
  .fullscrin-salary__items :nth-child(2) .content-row {
    padding-left: 0px;
    padding-right: 10px;
  }

  .fullscrin-salary__items :nth-child(2) .content-row__title:not(:last-child) {
    margin: 0px 0px 60px 0px;
  }

  .content-row {
    padding-left: 30px;
  }
}

@media (min-width: 1160px) {
  .menu__list {
    gap: calc(10px + 32 * ((100vw - 320px) / 1600));
  }
}

@media (min-width: 1180px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }

  .menu__link {
    font-size: 25px;
  }

  .spoller-block {
    z-index: 10;
    position: absolute;
    top: 50px;
    left: -70px;
    -webkit-box-shadow: 0px 0px 10px #acacac63;
            box-shadow: 0px 0px 10px #acacac63;
    border: 1px solid #ffffff;
    border-radius: 42px;
    padding: 50px 68px 10px 74px;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    min-width: 842px;
    max-width: 842px;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.6);
  }

  .spoller-block__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .spoller-block__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 345px;
            flex: 1 1 345px;
    margin: 0px 0px 60px 0px;
  }
}

@media (max-width: 1500px) {
  .fullscrin-registration__comp {
    width: 50%;
  }
}

@media (max-width: 1350px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

@media (max-width: 1180px) {
  .header {
    padding-top: 40px;
  }

  .header__logo {
    font-size: 22px;
  }

  .header__actions {
    margin: 0px 50px 0px 0px;
  }

  .menu__body {
    background-color: rgba(248, 248, 248, 0.5);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: -100%;
    right: 0;
    z-index: 10;
    padding: 110px 30px 50px 30px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu__body._active {
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 35px;
  }

  .menu__item {
    position: relative;
  }

  .spoller-block__title {
    font-size: 18px;
  }

  .spoller-block__text {
    display: none;
  }

  .search-form._active .search-form__item {
    top: 110px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 55px;
    right: 29px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 15;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #007dfb;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (max-width: 1180px) and (max-width: 479.98px) {
  .menu__body {
    padding-top: 90px;
  }

  .icon-menu {
    top: 35px;
    right: 15px;
  }
}

@media (max-width: 1180px) and (max-width: 1160px) {
  .menu__list {
    gap: calc(25px + 10 * ((100vw - 320px) / 840));
  }
}

@media (max-width: 1172px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 1160px) {
  .button {
    padding-left: calc(24px + 25 * ((100vw - 320px) / 840));
  }

  .button {
    padding-right: calc(44px + 25 * ((100vw - 320px) / 840));
  }

  .button {
    padding-top: calc(20px + 25 * ((100vw - 320px) / 840));
  }

  .button {
    padding-bottom: calc(20px + 25 * ((100vw - 320px) / 840));
  }

  .button {
    font-size: calc(15px + 15 * ((100vw - 320px) / 840));
  }

  .button::before {
    font-size: calc(12px + 13 * ((100vw - 320px) / 840));
  }

  .btn {
    padding-left: calc(22px + 15 * ((100vw - 320px) / 840));
  }

  .btn {
    padding-right: calc(22px + 15 * ((100vw - 320px) / 840));
  }

  .btn {
    padding-top: calc(10px + 7 * ((100vw - 320px) / 840));
  }

  .btn {
    padding-bottom: calc(10px + 7 * ((100vw - 320px) / 840));
  }

  .btn {
    font-size: calc(14px + 7 * ((100vw - 320px) / 840));
  }

  .butt {
    padding-left: calc(14px + 46 * ((100vw - 320px) / 840));
  }

  .butt {
    padding-right: calc(14px + 46 * ((100vw - 320px) / 840));
  }

  .butt {
    padding-top: calc(28px + 17 * ((100vw - 320px) / 840));
  }

  .butt {
    padding-bottom: calc(28px + 17 * ((100vw - 320px) / 840));
  }

  .butt {
    font-size: calc(20px + 10 * ((100vw - 320px) / 840));
  }

  .select__value span {
    font-size: calc(18px + 2 * ((100vw - 320px) / 840));
  }

  .select__value:before {
    margin-left: calc(5px + 15 * ((100vw - 320px) / 840));
  }

  .header__body {
    gap: calc(10px + 5 * ((100vw - 320px) / 840));
  }

  .header__logo {
    font-size: calc(10px + 25 * ((100vw - 320px) / 840));
  }

  .spoller-block__title {
    font-size: calc(18px + 7 * ((100vw - 320px) / 840));
  }

  .spoller-block__text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 840));
  }

  .actions-header {
    gap: calc(10px + 25 * ((100vw - 320px) / 840));
  }

  .fullscrin-registration__body {
    padding-top: calc(40px + 40 * ((100vw - 320px) / 840));
  }

  .fullscrin-registration__body {
    padding-bottom: calc(80px + 150 * ((100vw - 320px) / 840));
  }

  .fullscrin-registration__logo {
    font-size: calc(30px + 5 * ((100vw - 320px) / 840));
  }

  .fullscrin-registration__logo {
    margin-bottom: calc(20px + 57 * ((100vw - 320px) / 840));
  }

  .fullscrin-registration__title {
    font-size: calc(20px + 5 * ((100vw - 320px) / 840));
  }

  .fullscrin-registration__title {
    margin-bottom: calc(22px + 20 * ((100vw - 320px) / 840));
  }

  .form-login__forma:not(:last-child) {
    margin-bottom: calc(40px + 25 * ((100vw - 320px) / 840));
  }

  .inp {
    font-size: calc(20px + 5 * ((100vw - 320px) / 840));
  }

  .inp .select__value span {
    font-size: calc(20px + 5 * ((100vw - 320px) / 840));
  }

  .fullscrin__body {
    padding-top: calc(80px + 198 * ((100vw - 320px) / 840));
  }

  .fullscrin__body {
    padding-bottom: calc(40px + 27 * ((100vw - 320px) / 840));
  }

  .fullscrin__title {
    font-size: calc(20px + 76 * ((100vw - 320px) / 840));
  }

  .fullscrin__text {
    font-size: calc(14px + 8 * ((100vw - 320px) / 840));
  }

  .fullscrin__text:not(:last-child) {
    margin-bottom: calc(37px + 233 * ((100vw - 320px) / 840));
  }

  .product-page__container {
    padding-top: calc(60px + 84 * ((100vw - 320px) / 840));
  }

  .product-page__container {
    padding-bottom: calc(60px + 84 * ((100vw - 320px) / 840));
  }

  .product-page__title {
    font-size: calc(18px + 17 * ((100vw - 320px) / 840));
  }

  .slider-arrow_prev {
    left: calc(10px + 400 * ((100vw - 320px) / 840));
  }

  .slider-arrow_next {
    right: calc(10px + 400 * ((100vw - 320px) / 840));
  }

  .slider-arrow_next::after {
    left: calc(-15px + 295 * ((100vw - 320px) / 840));
  }

  .slider-arrow_next::after {
    bottom: calc(70px + 255 * ((100vw - 320px) / 840));
  }

  .fullscrin-salary__body {
    padding-top: calc(80px + 81 * ((100vw - 320px) / 840));
  }

  .fullscrin-salary__body {
    padding-bottom: calc(40px + 60 * ((100vw - 320px) / 840));
  }

  .fullscrin-salary__content {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 840));
  }

  .fullscrin-salary__title {
    font-size: calc(25px + 10 * ((100vw - 320px) / 840));
  }

  .fullscrin-salary__title:not(:last-child) {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 840));
  }

  .fullscrin-salary__sub-title {
    font-size: calc(16px + 6 * ((100vw - 320px) / 840));
  }

  .row {
    gap: calc(25px + 25 * ((100vw - 320px) / 840));
  }

  .content-row {
    padding-top: calc(25px + 28 * ((100vw - 320px) / 840));
  }

  .content-row {
    padding-bottom: calc(50px + 30 * ((100vw - 320px) / 840));
  }

  .content-row__title {
    font-size: calc(20px + 10 * ((100vw - 320px) / 840));
  }

  .content-row__title:not(:last-child) {
    margin-bottom: calc(10px + 11 * ((100vw - 320px) / 840));
  }

  .content-row__text {
    font-size: calc(16px + 6 * ((100vw - 320px) / 840));
  }

  .mission-page__container {
    padding-top: calc(50px + 66 * ((100vw - 320px) / 840));
  }

  .mission-page__container {
    padding-bottom: calc(50px + 66 * ((100vw - 320px) / 840));
  }

  .mission-page__title {
    font-size: calc(25px + 10 * ((100vw - 320px) / 840));
  }

  .mission-page__title:not(:last-child) {
    margin-bottom: calc(30px + 64 * ((100vw - 320px) / 840));
  }

  .mission-page__body {
    gap: calc(20px + 30 * ((100vw - 320px) / 840));
  }

  .content-mission__title {
    font-size: calc(20px + 10 * ((100vw - 320px) / 840));
  }

  .content-mission__title:not(:last-child) {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 840));
  }

  .content-mission__text {
    font-size: calc(14px + 8 * ((100vw - 320px) / 840));
  }

  .content-mission__link {
    font-size: calc(14px + 4 * ((100vw - 320px) / 840));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .fullscrin-registration {
    height: 550px;
  }

  .fullscrin-registration__comp {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    width: 100%;
    height: 1110px;
    top: -300px;
  }

  .fullscrin-registration__welcome {
    position: absolute;
    top: 35%;
    left: 0;
    padding: 0px 15px;
  }

  .form-login__item {
    max-width: 100%;
  }

  .page-form {
    padding-top: 300px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .product-page__image {
    padding: 0px 0px 60% 0px;
  }
}

@media (max-width: 991.98px) and (max-width: 1160px) {
  .fullscrin-registration {
    height: calc(230px + 320 * ((100vw - 320px) / 840));
  }

  .fullscrin-registration__comp {
    height: calc(600px + 510 * ((100vw - 320px) / 840));
  }

  .fullscrin-registration__comp {
    top: calc(-180px + -120 * ((100vw - 320px) / 840));
  }

  .page-form {
    padding-top: calc(50px + 250 * ((100vw - 320px) / 840));
  }

  .page-form {
    padding-bottom: calc(50px + 50 * ((100vw - 320px) / 840));
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .select__options {
    max-height: 280px;
    top: -310px;
  }

  .header__logo {
    font-size: 30px;
  }

  .header__actions {
    margin: 0px 0px 0px 0px;
  }

  .menu__actions {
    margin: 70% 0px 0px 0px;
    position: relative;
  }

  .actions-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 80px;
  }

  .search-form._active .search-form__item {
    top: -180%;
  }

  .search-form__item {
    top: 120%;
    left: 0;
    width: 100%;
  }

  .fullscrin-registration__comp {
    width: 86%;
  }

  .form-login__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 280px;
    margin: 0 auto;
  }

  .controls-product {
    margin: 30px 0px 0px 0px;
  }

  .controls-product__dotts {
    gap: 20px;
  }

  .controls-product .swiper-pagination-bullet {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 28px;
            flex: 0 1 28px;
  }

  .controls-product .swiper-pagination-bullet::before {
    display: none;
  }

  .controls-product .swiper-pagination-bullet::after {
    content: "";
    width: 11px;
    height: 11px;
    background-color: #a0acd1;
    border-radius: 50%;
  }

  .controls-product .swiper-pagination-bullet-active::after {
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #007dfb;
  }

  .slider-arrow_prev::before {
    display: none;
  }

  .slider-arrow_next::before {
    display: none;
  }

  .slider-arrow_next::after {
    display: block;
  }

  .swiper-slide-next {
    position: relative;
  }

  .swiper-slide-next::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
  }

  .fullscrin-salary__items {
    gap: 55px;
  }

  .fullscrin-salary__items :nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .row__image {
    padding: 0px 0px 90% 0px;
  }

  .content-row {
    max-width: 79%;
  }

  .content-row {
    padding-bottom: 0px;
  }

  .content-row__title:not(:last-child) {
    margin-bottom: 50px;
  }

  .content-row__text:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media (max-width: 767.98px) and (max-width: 1160px) {
  .actions-header {
    gap: calc(20px + 60 * ((100vw - 320px) / 840));
  }

  .fullscrin-salary__items {
    gap: calc(30px + 25 * ((100vw - 320px) / 840));
  }

  .content-row__title:not(:last-child) {
    margin-bottom: calc(15px + 35 * ((100vw - 320px) / 840));
  }

  .content-row__text:not(:last-child) {
    margin-bottom: calc(15px + 35 * ((100vw - 320px) / 840));
  }
}

@media (max-width: 479.98px) {
  .header {
    padding-top: 20px;
  }

  .menu::before {
    height: 80px;
  }

  .actions-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .search-form__before::before {
    top: 16px;
  }

  .search-form__input {
    height: 45px;
  }

  .fullscrin-registration__welcome {
    top: 25%;
  }

  .inp {
    min-height: 50px;
    max-height: 70px;
    padding: 23px 28px;
  }

  .inp .select__options {
    max-height: 150px;
    border-radius: 25px;
  }

  .inp .select__value {
    padding: 12px 0px;
  }

  .fullscrin__body {
    padding-top: 100px;
  }

  .mission-page__title:not(:last-child) {
    margin: 0px 0px 50px 0px;
  }

  .mission-page__item {
    min-width: 100%;
  }

  .item-mission:nth-child(1) .content-mission__text {
    max-width: 100%;
  }

  .item-mission:nth-child(4) {
    background-color: #f3f4f6;
  }

  .item-mission:nth-child(2) {
    background-color: #f3f4f6;
  }

  .item-mission {
    border-radius: 17px;
  }

  .item-mission__content {
    padding: 15px 5px 15px 15px;
    max-width: 320px;
  }

  .content-mission__title:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .content-mission__text {
    opacity: 1;
    visibility: visible;
  }

  .content-mission__link {
    display: none;
  }
}

@media (min-width: 479.98px) and (max-width: 1160px) {
  .content-mission__title {
    height: calc(40px + 38 * ((100vw - 320px) / 840));
  }
}

@media (any-hover: hover) {
  .button:hover {
    color: #000000;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #007dfb;
            box-shadow: 0px 0px 10px #007dfb;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .button:hover::before {
    color: #000000;
  }

  .btn:hover {
    -webkit-box-shadow: 0px 0px 10px #007dfb;
            box-shadow: 0px 0px 10px #007dfb;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .butt:hover {
    color: #000000;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #007dfb;
            box-shadow: 0px 0px 10px #007dfb;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .select__option:hover {
    color: #007dfb;
  }

  .select__option:hover::before {
    color: #007dfb;
    opacity: 1;
  }

  .menu__link:hover {
    color: #5271f3;
  }

  .menu__link:hover::before {
    color: #5271f3;
  }

  .spoller-block__title:hover {
    color: #5271f3;
  }

  .spoller-block__title:hover::after {
    opacity: 1;
  }

  .search-form__icon:hover::before {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #000000;
  }

  .content-row__link:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fafafa;
    padding: 10px 22px 10px 20px;
    border-radius: 23px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    background-color: #007dfb;
  }

  .content-row__link:hover::before {
    display: block;
  }

  .content-mission__link:hover {
    text-decoration: underline;
  }
}

.webp .fullscrin-registration{ background: url(../img/image/fon-login.webp) right/cover no-repeat; }

.webp .fullscrin{ background: url(../img/image/fon.webp) center/cover no-repeat; }

.webp .salary-page__fullscrin{ background: url(../img/image/fon2.webp) center/cover no-repeat; }